<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.GB.ChinaMobileMS.dao.AssetLoanDeviceMapper">
	<insert id="addLoanDevice" parameterType="AssetLoanDevice">
		INSERT INTO
		loan_device_info(loan_info_id,
		loan_user_name,belong_branch_id,batch,type,
		brand,specification,arrival_date,count,allow_use_years,
		unit_value,all_value,order_number,get_date,expired_date)
		VALUES
		(#{loanInfoId},#{loanUserName},#{belongBranchId},#{batch},#{type},
		#{brand},#{specification},#{arrivalDate},#{count},#{allowUseYears},#{unitValue},#{allValue}
		,#{orderNumber},#{getDate},#{expiredDate})
	</insert>
	<select id="queryLoanDevice" resultType="AssetLoanDevice">
		SELECT
		*
		FROM
		loan_device_info
	</select>
	<select id="queryLoanDevice2" resultType="AssetLoanDevice">
		SELECT
		l.belong_branch_id,
		b.branch_name,
		l.loan_user_name,
		u.job_id,
		l.get_date,
		l.expired_date,
		l.order_number,
		l.loan_info_id
		FROM
		loan_device_info l,
		branch
		b,
		user u
		WHERE b.branch_id =
		l.belong_branch_id
		AND
		l.loan_user_name =
		u.user_name
	</select>
	<select id="queryLoanDeviceByType" parameterType="String"
		resultType="AssetLoanDevice">
		SELECT
		*
		FROM
		loan_device_info
		WHERE type like "%"#{search}"%"
	</select>
	<select id="queryLoanDeviceByBrand" parameterType="String"
		resultType="AssetLoanDevice">
		SELECT
		*
		FROM
		loan_device_info
		WHERE brand like "%"#{search}"%"
	</select>
	<select id="queryLoanDeviceByBatch" parameterType="String"
		resultType="AssetLoanDevice">
		SELECT
		*
		FROM
		loan_device_info
		WHERE batch like "%"#{search}"%"
	</select>
	<select id="queryLoanDeviceByLoanInfoId" parameterType="String"
		resultType="AssetLoanDevice">
		SELECT
		*
		FROM
		loan_device_info
		WHERE loan_info_id like
		"%"#{search}"%"
	</select>

	<select id="queryLoanDeviceByType2" parameterType="String"
		resultType="AssetLoanDevice">
		SELECT
		l.belong_branch_id,
		b.branch_name,
		l.loan_user_name,
		u.job_id,
		l.get_date,
		l.expired_date,
		l.order_number,
		l.type
		FROM
		loan_device_info l,
		branch
		b,
		user u
		WHERE b.branch_id =
		l.belong_branch_id
		AND
		l.loan_user_name =
		u.user_name
		AND
		l.type like
		"%"#{search}"%"
	</select>
	<select id="queryLoanDeviceByBrand2" parameterType="String"
		resultType="AssetLoanDevice">
		SELECT
		l.belong_branch_id,
		b.branch_name,
		l.loan_user_name,
		u.job_id,
		l.get_date,
		l.expired_date,
		l.order_number
		FROM
		loan_device_info
		l,
		branch
		b,
		user u
		WHERE b.branch_id =
		l.belong_branch_id
		AND
		l.loan_user_name =
		u.user_name
		AND
		l.brand like "%"#{search}"%"
	</select>
	<select id="queryLoanDeviceByBatch2" parameterType="String"
		resultType="AssetLoanDevice">
		SELECT
		l.belong_branch_id,
		b.branch_name,
		l.loan_user_name,
		u.job_id,
		l.get_date,
		l.expired_date,
		l.order_number
		FROM
		loan_device_info
		l,
		branch
		b,
		user u
		WHERE b.branch_id =
		l.belong_branch_id
		AND
		l.loan_user_name =
		u.user_name
		AND
		l.batch like "%"#{search}"%"
	</select>
	<select id="queryLoanDeviceByLoanInfoId2" parameterType="String"
		resultType="AssetLoanDevice">
		SELECT
		l.belong_branch_id,
		b.branch_name,
		l.loan_user_name,
		u.job_id,
		l.get_date,
		l.expired_date,
		l.order_number,
		l.loan_info_id
		FROM
		loan_device_info
		l,
		branch
		b,
		user u
		WHERE b.branch_id =
		l.belong_branch_id
		AND
		l.loan_user_name =
		u.user_name
		AND
		l.loan_info_id like "%"#{search}"%"
	</select>
	
	<select id="getLoanDeviceSumByCompany" parameterType="int" resultType="String">
		SELECT sum(count)FROM loan_device_info 
		where belong_branch_id IN
		(SELECT branch_id 
			FROM branch 
			where company_id = #{companyId})
	</select>
	
</mapper>