<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.GB.ChinaMobileMS.dao.AssetHouseMapper">
	<insert id="addAssetHouse" parameterType="AssetHouse">
		INSERT INTO house_info
			(floor,area,asset_info_id)
		VALUES
			(#{floor},#{area},#{assetInfoId})
	</insert>

	<select id="queryAssetHouse" resultType="AssetHouse">
		select *
		from house_info
	</select>

	<select id="queryAssetHouse2" resultType="AssetHouse">
		SELECT
		h.asset_info_id,
		b.company_id,
		c.company_name,
		h.area,
		h.house_id,
		ha.building_name
		FROM branch b,
		company c,
		house_info h,
		housing_asset_info ha
		WHERE
		h.asset_info_id = ha.asset_info_id
		AND b.branch_id =
		ha.used_branch_id
		AND
		c.company_id = b.company_id
	</select>

	<select id="queryAssetHouseByCompanyName" parameterType="String"
		resultType="AssetHouse">
		SELECT
		h.asset_info_id,
		b.company_id,
		c.company_name,
		h.area,
		h.house_id,
		ha.building_name
		FROM branch b,
		company c,
		house_info h,
		housing_asset_info ha
		WHERE
		h.asset_info_id = ha.asset_info_id
		AND b.branch_id =
		ha.used_branch_id
		AND
		c.company_id = b.company_id
		AND
		c.company_name like "%"#{search}"%"
	</select>

	<select id="queryAssetHouseByBuilding" parameterType="String"
		resultType="AssetHouse">
		SELECT
		h.asset_info_id,
		b.company_id,
		c.company_name,
		h.area,
		h.house_id,
		ha.building_name
		FROM branch b,
		company c,
		house_info h,
		housing_asset_info ha
		WHERE
		h.asset_info_id = ha.asset_info_id
		AND b.branch_id =
		ha.used_branch_id
		AND
		c.company_id = b.company_id
		AND
		ha.building_name like "%"#{search}"%"
	</select>

	<select id="queryAssetHouseByArea" parameterType="String"
		resultType="AssetHouse">
		SELECT
		h.asset_info_id,
		b.company_id,
		c.company_name,
		h.area,
		h.house_id,
		ha.building_name
		FROM branch b,
		company c,
		house_info h,
		housing_asset_info ha
		WHERE
		h.asset_info_id = ha.asset_info_id
		AND b.branch_id =
		ha.used_branch_id
		AND
		c.company_id = b.company_id
		AND
		h.area like "%"#{search}"%"
	</select>
</mapper>