<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.GB.ChinaMobileMS.dao.AssetHousingMapper">
	<insert id="addAssetHousing" parameterType="AssetHousing">
		INSERT INTO housing_asset_info
		(used_branch_id,building_area,location,room_count,structure_type,building_name,
		room_usage,addition,remark,is_loan,loan_source,loan_time_start,loan_time_end,floor_count)
		VALUES
		(#{usedBranchId},#{buildingArea},#{location},#{roomCount},#{structureType},#{buildingName},
		#{roomUsage},#{addition},#{remark},#{isLoan},#{loanSource},#{loanTimeStart},#{loanTimeEnd},#{floorCount})
	</insert>

	<select id="queryAssetHousing" resultType="AssetHousing">
		select * from
		housing_asset_info
	</select>

	<select id="queryAssetHousing2" resultType="AssetHousing">
		SELECT
		h.used_branch_id,
		b.company_id,
		c.company_name,
		h.location,
		h.building_area,
		h.asset_info_id,
		h.building_name
		FROM branch
		b,housing_asset_info h,company c
		WHERE b.branch_id =
		h.used_branch_id
		AND c.company_id = b.company_id
	</select>

	<select id="detailed" parameterType="int" resultType="AssetHousing">
		select
		h.used_branch_id,
		b.company_id,
		c.company_name,
		h.location,
		h.building_area,
		h.asset_info_id,
		h.building_name,
		h.room_count,
		h.structure_type,
		h.room_usage,
		h.addition,
		h.remark,
		h.is_loan,
		h.loan_source,
		h.loan_time_start,
		h.loan_time_end
		FROM branch
		b,housing_asset_info h,company c
		WHERE b.branch_id =
		h.used_branch_id
		AND c.company_id = b.company_id
		AND h.asset_info_id =
		#{assetInfoId}
	</select>
	<select id="queryAssetHousingByCompanyName" parameterType="String"
		resultType="AssetHousing">
		SELECT
		h.used_branch_id,
		b.company_id,
		c.company_name,
		h.location,
		h.building_area,
		h.asset_info_id,
		h.building_name
		FROM branch
		b,housing_asset_info h,company c
		WHERE b.branch_id =
		h.used_branch_id
		AND c.company_id = b.company_id
		AND c.company_name like "%"#{search}"%"
	</select>
	<select id="queryAssetHousingByBuildingName" parameterType="String"
		resultType="AssetHousing">
		SELECT
		h.used_branch_id,
		b.company_id,
		c.company_name,
		h.location,
		h.building_area,
		h.asset_info_id,
		h.building_name
		FROM branch
		b,housing_asset_info h,company c
		WHERE b.branch_id =
		h.used_branch_id
		AND c.company_id = b.company_id
		AND h.building_name like "%"#{search}"%"
	</select>
	<select id="queryAssetHousingBylocation" parameterType="String"
		resultType="AssetHousing">
		SELECT
		h.used_branch_id,
		b.company_id,
		c.company_name,
		h.location,
		h.building_area,
		h.asset_info_id,
		h.building_name
		FROM branch
		b,housing_asset_info h,company c
		WHERE b.branch_id =
		h.used_branch_id
		AND c.company_id = b.company_id
		AND h.location like "%"#{search}"%"
	</select>
	<select id="queryAssetHousingByBuildingArea" parameterType="String"
		resultType="AssetHousing">
		SELECT
		h.used_branch_id,
		b.company_id,
		c.company_name,
		h.location,
		h.building_area,
		h.asset_info_id,
		h.building_name
		FROM branch
		b,housing_asset_info h,company c
		WHERE b.branch_id =
		h.used_branch_id
		AND c.company_id = b.company_id
		AND h.building_area like "%"#{search}"%"
	</select>
	
	<select id="queryAssetHousingByCompany" parameterType="int" resultType="com.GB.ChinaMobileMS.entity.AssetHousing">
		SELECT * FROM housing_asset_info
		WHERE used_branch_id IN
		(SELECT branch_id FROM branch WHERE company_id = #{companyId})
	</select>
</mapper>