<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.GB.ChinaMobileMS.dao.AssetHouseMapper">
	<insert id="addAssetHouse" parameterType="AssetHouse">
		INSERT INTO
		house_info(house_id,belonng_branch_id,building,floor,area)
		VALUES
		(#{houseId},#{belonngBranchId},#{building},#{floor},#{area})
	</insert>
	
	<select id="queryAssetHouse" resultType="AssetHouse">
		select * from house_info
	</select>
</mapper>