<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.GB.ChinaMobileMS.dao.BranchMapper">
	<select id="queryBranchByID" parameterType="int" resultType="com.GB.ChinaMobileMS.entity.BranchEntity">
		select *
		from branch
		where branch_id = #{branchID}
	</select>
	<select id="queryBranch"  resultType="com.GB.ChinaMobileMS.entity.BranchEntity">
		select *
		from branch
	</select>
	
</mapper>
