<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.GB.ChinaMobileMS.dao.CompanyMapper">
	<select id="queryCompanyByID" parameterType="int" resultType="com.GB.ChinaMobileMS.entity.CompanyEntity">
		select *
		from company
		where company_id = #{companyID}
	</select>
	
	<select id="queryCompany" resultType="com.GB.ChinaMobileMS.entity.CompanyEntity">
		select *
		from company
	</select>
	
	<select id="queryCompanyByName" parameterType="String" resultType="com.GB.ChinaMobileMS.entity.CompanyEntity">
		select *
		from company
		where company_name like "%"#{companyName}"%"
	</select>
	
	<select id="listcompany" resultType="com.GB.ChinaMobileMS.entity.CompanyEntity">
		select * from company
	</select>
	
</mapper>