<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 驾驶员信息登记及查询  -->
<mapper namespace="com.GB.ChinaMobileMS.dao.DriverInfoMapper">

	<insert id="insertDriverInfo" parameterType="DriverInfoEntity">
		INSERT INTO driver_info
			(name, sex, birthday, drive_year, education, origin, service_unit,
			 identification, contact_info, home_address, addition)
		VALUES 
			(#{name},#{sex},#{birthday},#{driveYear},#{education},#{origin},#{serviceUnit},
			#{identification},#{contactInfo},#{homeAddress},#{addition})
	</insert>
	
	<select id="queryDriverInfoByName" parameterType="String" resultType="com.GB.ChinaMobileMS.entity.DriverInfoEntity">
		select * from driver_info
		where name like "%"#{queryInformation}"%"
	</select>
	
	<select id="queryDriverInfoBySex" parameterType="String" resultType="com.GB.ChinaMobileMS.entity.DriverInfoEntity">
		select * from driver_info
		where sex like "%"#{queryInformation}"%"
	</select>
	
	<select id="queryDriverInfoByServiceUnit" parameterType="String" resultType="com.GB.ChinaMobileMS.entity.DriverInfoEntity">
		select * from driver_info
		where service_unit like "%"#{queryInformation}"%"
	</select>
	
	<select id="listDriverInfo"  resultType="com.GB.ChinaMobileMS.entity.DriverInfoEntity">
		select * from driver_info
	</select>
	
	<delete id="deleteVehiclePerson">
		delete from driver_info 
		where driver_id = #{driverId}
	</delete>
	
	<update id="updateVehiclePerson" parameterType="DriverInfoEntity">
		update driver_info
		set
			drive_year = #{driveYear},
			service_unit = #{serviceUnit},
			contact_info = #{contactInfo},
			home_address = #{homeAddress},
			addition = #{addition}
		where driver_id = #{driverId}
	</update>
	
</mapper>