<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.GB.ChinaMobileMS.dao.InvestigationScoreMapper">
	<insert id="insertGrade">
	insert into investigation_score (investigation_item_id,investigate_user_name,grade)
	values
	(#{investigationItemId},#{investigationUserName},#{grade})
	</insert>
	
	<select id="findByInvestigationItemId" parameterType="int" resultType="com.GB.ChinaMobileMS.entity.InvestigationScoreEntity">
	select *
	from investigation_score
	where investigation_item_id=#{investigationItemId}
	</select>
</mapper>