<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.GB.ChinaMobileMS.dao.JobMapper">
	<select id="queryJobByJobID" parameterType="int" resultType="com.GB.ChinaMobileMS.entity.JobEntity">
		select *
		from job
		where job_id = #{jobID}
	</select>
</mapper>