<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.GB.ChinaMobileMS.dao.PropertyMapper">
	<select id="findPropertyInfo"  resultType="com.GB.ChinaMobileMS.entity.PropertyServiceEntity">
		select *
		from property_table
	</select>
	<update id="updateStatus" parameterType="int">
		update property_table 
		set
		status=#{status}
		where property_table_id=#{id}
	</update>
	
	<select id="queryPopertyTableByID" parameterType="int" resultType="com.GB.ChinaMobileMS.entity.PropertyServiceEntity">
		select *
		from property_table
		where property_table_id = #{propertyTableID}
	</select>
	
	<!-- SQL语句 namespace命名空间  id UserMapper里面的方法名  
	parameterType参数列表 resultType 返回的类型 -->
</mapper>