<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.GB.ChinaMobileMS.dao.PropertyApplicantMapper">
 	
	<insert id="insertPropertyApplicant" parameterType="PropertyServiceEntity"  >
		INSERT INTO property_table(apply_user_name, company_id, branch_id, service_date, contact_info, concrete_time, service_location, reception_service, order_maintain, dining_service, enviroment_maintain, engineering_manage, firefighting_manage, addition, apply_time)
		VALUES (#{applyUserName},#{companyId},#{branchId},#{serviceDate},#{contactInfo},#{concreteTime},#{serviceLocation},#{receptionService},#{olderMantain},#{diningService},#{enviromentMaintain},#{engineeringManage},#{firefightingManage},#{addition},#{applyTime})
	</insert>

	<select id="listPropertyApplicant"  resultType="com.GB.ChinaMobileMS.entity.PropertyServiceEntity">
		select *
		from property_table
	</select>
	
	<!-- SQL语句 namespace命名空间  id PropertyApplicantMapper里面的方法名  
	parameterType参数列表 resultType 返回的类型 -->

</mapper>