<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.GB.ChinaMobileMS.dao.ReviewMapper">

	<insert id="insertReview" parameterType="com.GB.ChinaMobileMS.entity.ReviewEntity">
		INSERT INTO
		review(property_table_id, status, excution_id, stage, vertify_user, flow_info)
		VALUES (#{propertyTableId},#{status},#{excutionId},#{stage},#{vertifyUser},#{flowInfo})
	</insert>
	
	<select id="queryReview" parameterType="string" resultType="com.GB.ChinaMobileMS.entity.ReviewEntity">
		select *
		from review
		where vertify_user = #{vertifyUser}
	</select>
	
	<select id = "queryPropertyTableByVertifyUser" parameterType="string" resultType="com.GB.ChinaMobileMS.entity.PropertyServiceEntity">
		SELECT property_table_id, apply_user_name, company_id, branch_id, got_id, dining_service, reception_service, enviroment_maintain, engineering_manage, firefighting_manage, order_maintain, service_id, contact_info, service_date, service_location, service_command, addition, apply_time, concrete_time, status, temporary_demand
		from property_table NATURAL JOIN review
		where vertify_user = #{vertifyUser}
	</select>

</mapper>