<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.GB.ChinaMobileMS.dao.UserMapper">

	<select id="findByUserName" parameterType="string"
		resultType="com.GB.ChinaMobileMS.entity.User">
		select *
		from user
		where user_name=#{userName}
	</select>

	<select id="findByUserNamefromBranch" parameterType="string"
		resultType="com.GB.ChinaMobileMS.entity.BranchEntity">
		select *
		from branch
		where branch_manager=#{userName}
	</select>

	<select id="findByUserNamefromCompany" parameterType="string"
		resultType="com.GB.ChinaMobileMS.entity.CompanyEntity">
		select *
		from company
		where company_manager=#{userName}
	</select>

	<insert id="insertUser" parameterType="User">
		INSERT INTO
		user(
		user_name,job_id,account_name,remark,phone,email,birthday,department,identification,sex,password,salt)
		VALUES
		(#{userName},#{jobId},#{accountName},#{remark},#{phone},#{email},#{birthday},#{department},#{identification},#{sex},#{password},#{salt})
	</insert>

	<select id="listUser" resultType="User">
		select * from user

	</select>

	<select id="queryUserByUserName" parameterType="string"
		resultType="com.GB.ChinaMobileMS.entity.User">
		select *
		from user
		where user_name = #{userName}
	</select>

	<update id="updateUserRole" parameterType="Information">
		update
		user
		set
		role_id
		=
		#{roleId}
		where user_name = #{userName}
	</update>

	<update id="updateIsExist">
	update user set isExist = -1
	where user_name = #{userName}
	</update>
	
	<update id="updateUserInfo">
		update user
		set
		account_name = #{accountName},
		sex = #{sex},
		password = #{password},
		identification =
		#{identification},
		birthday = #{birthday},
		email = #{email},
		phone =
		#{phone},
		remark = #{remark},
		salt = #{salt}

		where user_name = #{userName}
	</update>


	<update id="updateUserInfoNPsw">
		update user
		set
		account_name = #{accountName},
		sex = #{sex},
		identification =
		#{identification},
		birthday = #{birthday},
		email = #{email},
		phone =
		#{phone},
		remark = #{remark}

		where user_name = #{userName}
	</update>

	<delete id="deleteUser">
		delete from User
		where user_name = #{userName}
	</delete>

	<!-- SQL语句 namespace命名空间 id UserMapper里面的方法名 parameterType参数列表 resultType 
		返回的类型 -->

</mapper>