@CHARSET "UTF-8";
.batch{
	width:50px;
}
.type{
	width:150px;
	
}
.brand{
	width:100px;
}
.specification{
	width:200px;
}
.arrivalDate{
	width:150px;
}
.count{
	width:100px;
}
.allowUseYears{
	width:150px;
}
.unitValue{
	width:100px;
}
.allValue{
	width:100px;
}


