@CHARSET "UTF-8";

#code{
	width: 470px;
	height: 500px;
	background-color: #fff;
	position: absolute;
	display: none;
	left: 45%;
	z-index: 1002;
	box-shadow:2px 2px 5px #333;
}

.title {
	width: 470px;
	height: 40px;
	padding-top:5px;
	background-color:#333;
	border-radius:10px 10px 0px 0;
}
.title>span{
	padding-left:150px;
	font-size:20px;
	margin:10px 0 0 5px;
	color:#fff;
}



#check_div{
	width: 470px;
	height: 500px;
	background-color: #fff;
	position: absolute;
	display: none;
	left: 45%;
	z-index: 1002;	
	box-shadow:2px 2px 5px #333;
}


.close {
	width: 30px;
	height: 30px;
}
#closebt {
	float: right;
}
#closebt img {
	width: 20px;
	height:20px;
	margin:5px 10px 0 0 ;
}


.goodtxt {
	text-align: center;
}
.goodtxt p {
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #000;
	font-weight: 600;
}
#code button{
	margin-left:80px;
}


 .index{
	width:60px;
}
.applyTime{
	width:165px;
}
.startDate{
	width:90px;
}
.finishDate{
	width:90px;
}
.contactInfo{
	width:110px;
}
.arrangePersonCount{
	width:80px;
}
.dinnerType{
	width:110px;
}
.indadditionex{
	width:200px;
}
.s{
	width:100px;
}
.status{
	width:100px;
}
.view{
	width:80px;
}



	