/*主页面顶层样式*/
* {
    margin: 0;
    padding: 0;
}
.top{
    width:100%;
    height:80px;
    background:url("../img/title_1.png") no-repeat;
}
.top>h1{
    margin:0;
    padding:15px 0 0 20px;
    font-family: "Microsoft YaHei UI";
    color:#fff;
}
.top>a{
    color:#000;
    position: relative;
    left:620px;
    font-size: 18px;
    font-family: "Microsoft YaHei UI";
}
.top>a:hover{
    color:#fff;
}

/*账号信息样式*/
.top>.account_info{
    margin-left:35%;
    width:200px;
    height:20px;
    /*background-color: #fff;*/
}
.top>.account_info>a{
    list-style-type: none;
    color:black;
}



/*天气样式*/
.wea_time{
    width:100%;
    height:30px;
    /*border-bottom:1px solid ;*/
}
/*.wea_time>a{*/
    /*display: block;*/
    /*margin: 1% 0 0 2%;*/
/*}*/

.right{
    width:100%;
    height:500px;
    border-radius:5px;
}
/*.left,.right{*/
    /*float:left;*/
/*}*/
.footer{
    clear:both;
    width:100%;
}
.footer a{
    margin-left:30%;
}
