@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
/*按钮样式*/

#code {
	border:1px solid black;
	width: 400px;
	height: 550px;
	background-color: #fff;
	padding: 10px;
	position: absolute;
	display: none;
	left: 45%;
	z-index: 1002;
}
.close1 {
	width: 380px;
	height: 20px;
}
#closebt {
	float: right;
}
#closebt img {
	width: 20px;
	height:20px;
}
.goodtxt {
	text-align: center;
}
.goodtxt p {
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #000;
	font-weight: 600;
}
.code-img {
	width: 250px;
	margin: 30px auto 0 auto;
	padding: 10px;
}
.code-img img {
	width: 240px;
}

#code button{
	margin-left:80px;
}


