/*主页面顶层样式*/
*{
    margin:0;
    padding: 0;
}
.bg_pic{
    position: absolute;
    right:5px;
    bottom:0px;
    opacity: .2;
}

li{
 list-style:none;
}
.top{
    width:1500px;
    background: linear-gradient(to right,#369,#5bc0de);
}

.top a{
    display:block;
    font-size: 30px;
    padding:20px 0 20px 40px;
    color: #fff;
}
.top img{
    width:100%;
}

/*天气样式*/
.wea_time{
    width:100%;
    height:30px;
    /*border-bottom:1px solid ;*/
}
.wea_time>a{
    display: block;
    margin: 1% 0 0 2%;
}

/*左边样式*/
.left{
    width:22%;
    height:550px;
    border-right:3px solid #369;
}

/*左边和右边向左浮动*/
.left,.right{
    float:left;
}

/*账号信息*/
.account{
    margin:5% 0 0 5%;
    width:90%;
    height:280px;
    border:1px solid #000;
    border-radius:5px;
}
.account_title{
    width:100%;
    height:40px;
    background-color:#369;
}
.account h3{
    width:100px;
    line-height: 40px;
    color:#fff;
    margin: 0 auto;
}

.account>button{
    float:left;
    width:80px;
    height:25px;
    margin:20px 0px 0px 40px;
}

/*账号样式*/
.acc_info table{
    margin:0px 0 0 10px;
    width:260px;
    font-family: "Microsoft YaHei UI";
    font-size: 15px;
    /*border-collapse:collapse;*/
}
.acc_info td{
    width:120px;
    padding:5px;
}
.account>a{
    display:block;
    float:left;
    width:100px;
    background-color: #369;
    color:#fff;
    font-size: 18px;
    text-align: center;
    border-radius: 3px;
    margin:5% 0 0 8%;
}
.account>a:hover,.account>a:visited,.account>a:active,.account>a:link{
    text-decoration: none;
    color:#fff;
}
/*提醒事项*/
.thing{
    width:90%;
    margin:5%;
}
.thing h3{
    border-radius:0 20px 0 0;
    background-color: #369;
    color:#fff;
}
.thing li{
    display:block;
    border:1px dotted black;
    margin-top:5px;
}
/*右边样式*/
.right{
    width:75%;
    height:550px;
    margin:1% 0 0 1%;
}
.right>h3{
    width:210px;
    height:30px;
    text-align:center;
    line-height:30px;
    border-radius:0 15px 0 ;
    color:#fff;
    border-bottom:1px solid ;
    margin-top:5px;
}
.right>h3:nth-child(1){background-color:#369; }
.right>h3:nth-child(4){background-color:#369; }
.right>h3:nth-child(7){background-color:#369; }
.right>h3:nth-child(10){background-color:#369; }

.right>ul>li{
    float:left;
    text-align: center;
    margin:10px 15px 10px 0px;
    width:200px;
    font-size: 20px;
    border:1px solid #369;
    border-radius:5px;
}
.right>ul>li>a{
    display:block;
    width:200px;
}
/*清除浮动*/
.div{
    clear:both;
}

.right>ul>li>a:hover{
    background-color:#369;
    color:#fff;
    text-decoration: none;
}

.footer{
    clear:both;
    width:100%;
}
.footer a{
    margin-left:30%;
}
